---
title: 404
overrides: core/404
type: page
pageOutputPath: 404.html
description: The page you requested was not found...
---
{% extends 'core/base' %}
{% block bodyContent %}
<h1>NOOOOOOOOOO! 404!</h1>
{% endblock %}